<!DOCTYPE html>
<html>
<head>
    <link href="/extJs/ext-theme-classic/ext-theme-classic-all.css"
          rel="stylesheet">
    <script src="/extJs/ext-all-dev.js"></script>
    <script src="/js/extJs/cat.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
            requires:["Cat"],
            //实例化类
            var cat = new Cat();
            //输出属性名
            Ext.Msg.alert('类属性', cat.name + " " + cat.age + " " + cat.owner);  //textClass.A结果为a，textClass.B结果为b
        });
    </script>
</head>
<body>
<div id="helloWorldPanel"></div>
</body>
</html>