<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<footer class="footer" th:fragment="myFoot">
    <div class="container">
        <hr/>
        <div class="row footer-bottom">
            <div class="col-md-6 col-lg-6 text-left">
                <h4>
                    <img src="http://assets.bootcss.com/www/assets/img/logo.png?1555735866359">
                </h4>
                <p>Dedicated to agricultural development</p>
            </div>
        </div>
    </div>
</footer>
</html>