<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!-- //custom-theme -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<script src="js/jQuery/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>