<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon/icon.png">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet">
</head>

<body class="text-center">
    <div th:replace="head::myHead"></div>
    <div th:replace="nav::myNav"></div>
    <div th:replace="foot::myFoot"></div>
</body>

<script src="/js/vendor/jQuery/jquery-3.3.1.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
</html>