<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Groovin one page bootstrap template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>
<header>

    <table>
        <th th:text="#{header.address.city}"></th>
        <th th:text="#{header.address.country}"></th>
    </table>

</header>

</body>
</html>