<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seauf.dao.UserDao">
    <insert id="insert">
        INSERT INTO
          sys_user
            (
              id
            , user_name
            )
        VALUES
            (
              #{userDTO.id}
            , #{userDTO.userName}
            );
    </insert>

    <select id="get" resultType="com.seauf.service.dto.UserDTO">
        select * from sys_user
    </select>
</mapper>