<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="record">
    <meta name="author" content="lynn">
    <link rel="icon" href="/icon/icon.png">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>

<!--头部 -->
<div th:replace="head::myHead"></div>

<div class="container-fluid">
    <div class="row">

        <!--导航-->
        <div th:replace="nav::myNav"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!--<div class="dashboard1" th:include="/index/dashboard::myDashboard"></div>-->
            <!--<div class="dashboard2" th:include="/index/financial::myFinancial" style="display: none;"></div>-->
        </main>

    </div>
</div>

<!--版权-->
<div th:replace="foot::myFoot"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/vendor/jQuery/jquery-3.3.1.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/feather.min.js"></script>
<script src="/js/index.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>
